<div class="nav-cont">
  <nav>
    <ul class="navbar">
      <li class="nav-item">
        <a href="/" class="logo-cont">
          <span class="logo-text big">WebTurns.io</span>
          <i class="fa-solid fa-user-tie"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>